<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">You should never give up on your passion. 
  If there's something you're good at and love doing, stick with it.</p>
  <p class="lead">
    <%= link_to "About", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>